<div class="searchShop">
  <p>検索ボックスに店舗名を入力し、検索ボタンを押下してください。</p>
  <div class="searchBox">
    <%= form_tag('/shops/search', method: :get) %>
      <input type="text" name="keyword" class="searchForm">
      <button type="submit" class="searchButton">検索</button>
  </div>
  <% if @shops.present? %>
    <% @shops.each do |shop|%>
      <div class="shopLists">
        <div class="shopInfo clearfix">
          <div class="listLeft">
          <%= link_to shop_path(shop) do%>
            <div class="trimImage">
              <%= image_tag "#{shop.image}" %>
            </div>
          <% end %>
          </div>
          <div class="listRight">
            <%= link_to "#{shop.name}", shop_path(shop) %>
            <p>住所：<%= shop.address %></p>
            <p>電話番号：<%= shop.phone %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>