<div class="shopDetail">
  <div class="mainContents clearfix">
    <div class="leftContent">
      <div class="trimImage">
        <%= image_tag "#{@shop.image} "%>
      </div>
    </div>
    <div class="rightContent">
      <!-- インスタンス変数のプロパティをそれぞれ表示 -->
      <h5><%= @shop.name %></h5>
      <p>住所：<%= @shop.address %></p>
      <p>電話番号：<%= @shop.phone %></p>
      <p>メールアドレス：<%= @shop.email %></p>
    </div>
  </div>
  <div class="editButton">
    <%= link_to "店舗を更新する", edit_shop_path(@shop) %>
    <!-- shopコントローラのeditアクションに対応するurlのid部分に@shopのidを入れたものになる -->
  </div>
</div>