<!DOCTYPE html>
<html>
  <head>
    <title>SignalTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="main">
      <% flash.each do |key, value| %>
      <!-- 配列となっているフラッシュメッセージを取り出す -->
       <div class="alert alert-<%= key %>">
     <!-- フラッシュメッセージを表示 -->
        <%= value %>
       </div>
      <% end %>
      <%= yield %>
      <!-- ここにメイン部分のビューを表示 -->
    </div>
    <div class="footer"></div>
  </body>
</html>
